.app-container {
  display: flex;
}

.countries-menu {
  width: 20%;
  flex-direction: column;
}

.country-menu--item {
  padding: 20px;
  border-bottom: 1px solid black;
}

.country-menu--item:hover {
  background-color: #bdc3c7;
  text-decoration: none;
}
